<<<<<<< HEAD
body {
    font-size: 20px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #212529;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:focus,
a:hover {
    color: #0085A1;
}

blockquote {
    font-style: italic;
    color: #868e96;
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

::-moz-selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}
/*Tu skonczylem*/
#mainNav {

    position: fixed;
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}




header.masthead {
    height: 90vh;
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
font-size: 50px;
    margin-top: 0;

    text-align: center;
}

.ikonka{
    width: 6vw;
    padding: 1%;
    position: fixed;
    right: 0;
    top: 100vh;
    transform: translateY(-110%);
    z-index: 55;
}


.about {
    background-image: url(../img/portfolio/Thinking%20and%20Awareness.png);
    background-position: right;
    background-repeat: no-repeat;
}



/*formluarz*/
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: 'Lora', 'Times New Roman', serif;
}
/**/

#Cm {
    margin-top: 15%;
    text-align: center;

}

.col-4 {
    height: 25vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img1 {

    background-image: url(../img/portfolio/box_of_cookies.jpg);


}

.img2 {

    background-image: url(../img/portfolio/chaotic_paint.jpg);


}

.img3 {

    background-image: url(../img/portfolio/child_with_blue_paint.jpg);


}
.locations-title{
    margin-top: 10vh;
}

.locations{
    margin-top: 3vh;
}
#map {
   
    height: 500px;
    border: 1px solid black;
}
.listPlace{
    font-size: 1.7vh;
}

.lowList{
    font-size: 1.6vh;
}
#Rekrutacja{
    padding: 2%;
    margin-top: 6vh;
    margin-bottom: 4vh;
}
.col-6 img{
    width: 45vw;
    margin-left: 2vw;
}
.rekrutacja ul {

list-style-type: none;


}
#Oferta{
    padding: 2%;
}
.oferta{
    margin-top: 5%;
}
.oferta{
    padding: 1%;
}
.info2{
    
border-left-style: outset;

}

footer {
    padding: 50px 0 65px;
}

.contact{
    margin-top: 25vh;
    padding: 2%;
}
.contact-form{
    
    margin-top: 5vh;
}
.btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



