* {
    margin: 0;
    padding: 0;
    font-size: 19px;

    color: rgb(41, 24, 24);
    font-weight: bolder;
    font-family: 'Lora', 'Times New Roman', serif;
}

body {
    
}

section {
    padding: 2%;
}

section.YouthCenter {
    height: 50vh;
    background-image: url(../img/IMG_1083.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

section.MainGoal {
    height: 30vh;
    background-color: rgba(158, 158, 158, 0.54);

}

section.IndividualMentor {
    background-image: url(../img/IMG_1083.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
section.WideAidOffer{
    background-color: rgba(158, 158, 158, 0.54);
}
