* {
    margin: 0;
    padding: 0;
    font-size: 19px;

    color: rgb(41, 24, 24);

    font-family: 'Lora', 'Times New Roman', serif;
}



section {
    padding: 5%;
}

section img {


    height: 25vh;
    border: solid 1px black;

}

section.MainGoal {}

section.IndividualMentor {}

section.WideAidOffer {}

.line {
    width: 75vw;
    background-color: black;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;

}


#back a{
    font-size: 3vh;
    /*    color: black;*/
    text-decoration: none;
}
